<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <h3>Add New User</h3>
                <form name="frmUser" novalidate>
                    <div class="form-group">
                        <label for="firstname" class="control-label">First Name</label>
                        <input type="text" class="form-control" ng-model="userModel.firstname" name="firstname" placeholder="" required />
                        <span class="error" ng-show="(frmUser.$dirty||submitted) && frmUser.firstname.$error.required">First name is required</span>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="control-label">Last Name</label>
                        <input type="text" class="form-control" ng-model="userModel.lastname" name="lastname" placeholder="" required />
                        <span class="error" ng-show="(frmUser.$dirty ||submitted) && frmUser.lastname.$error.required">Last name is required</span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" [disabled]="userModel.firstname === '' || userModel.lastname === ''" ng-click="saveUser()">Create</button>
                    </div>
                    
                    <span class ="error" id="errormessage" ng-show="errormessage.show">Unable to save first name and last name. Please make sure you have filled out both fields.</span>
                </form>
            </div>
        </div>
    </div>
</div>